<script type="text/javascript">

$(document).ready(function(){
  $("#add_variant").click(function(e) {
    e.preventDefault();
    $(".variants").append('<div class="form-inline variant">' + 
      '<div class="form-group variant_name">' + 
        '<select class="form-control select_region">' +
          '<option value="0">-Select Region-</option>' +
          <% @regions.each do |region| %>
          '<option value="<%= region.id %>"><%= region.name %></option>' +
          <% end %>
        '</select>' +
      '</div>' +
      '<div class="form-group variant_price">' +
        '<input type="price" name="price[]" class="form-control" placeholder="Price">' +
      '</div>' +
      '<div class="form-group variant_currency">' +
        '<select class="form-control">' + 
          '<option value="EURO">EURO</option>' + 
          '<option value="STG">STG</option>' +
        '</select>' +
      '</div>' + 
      '<button type="submit" class="btn btn-danger remote_variant">Remove</button>' +
    '</div>');
  });
    
  $(document).on("click", ".remote_variant",function(e){
    e.preventDefault();
    $(this).parents(".form-inline").remove();
  });
    
  $(document).on('click', "#save_variants", function () {
    var mas_variants = [];
    $('.variants .variant').each(function () {
      var variant_info = {}
      this_variant = $(this);
      variant_info.region_id = this_variant.find('.select_region').val();
      variant_info.price = this_variant.find('.variant_price input').val();
      variant_info.currency = this_variant.find('.variant_currency select').val();
      mas_variants.push(variant_info);
    });
    $.ajax({
      type: 'POST',
      dataType: 'JSON',
      url: '<%= generate_variant_path %>',
      data: { 
        variants: mas_variants, 
        id: <%= @product.id %> 
      },
      success: function (data) {
        window.location.reload();
      }
    });
  });
    
    $(document).on('click', ".destroy_product_variant", function () {
        var product_variant = $(this).attr('data-product-variant-id');
        $.ajax({
            type: 'DELETE',
            dataType: 'JSON',
            url: '<%= destroy_product_variant_path %>',
            data: { "id": product_variant },
            success: function (data) {
                $(".product_variant_" + data.id).remove();
            }
        });
    });
    
     $(document).on('click', ".edit_product_variant", function () {
        var product_variant = $(this).attr('data-product-variant-id');
        $( ".modal .modal-footer .update_variant_js" ).attr('data-product-variant-id', product_variant);
     });
    
    
    $(document).on('click', ".update_variant_js", function () {
      var variant_id = $(this).attr('data-product-variant-id');
      modal_window = $('.modal_body_update_variant')
      var variant_info = {}
      variant_info.region_id = modal_window.find('.select_region').val();
      variant_info.price = modal_window.find('.variant_price input').val();
      variant_info.currency = modal_window.find('.variant_currency select').val();
      $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: '<%= update_product_variant_path %>',
        data: { 
          variant: variant_info, 
          id_product: <%= @product.id %>, 
          price_countries_product_variant_id: variant_id,
          _method: 'PATCH'
        },
        success: function (data) {
          window.location.reload();
        }
      });
    });
    
});
</script>


<!-- Modal -->
<div class="modal fade edit_product_variant_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Update variant</h4>
      </div>
      <div class="modal-body modal_body_update_variant">
        <div class="form-inline variant">
          <div class="form-group variant_name">
            <select class="form-control select_region">
              <option value="0">-Select Region-</option>
              <% @regions.each do |region| %>
              <option value="<%= region.id %>"><%= region.name %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group variant_price">
            <input type="price" name="price[]" class="form-control" placeholder="Price">
          </div>
          <div class="form-group variant_currency">
            <select class="form-control">
              <option value="EURO">EURO</option>
              <option value="STG">STG</option>
           </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary update_variant_js">Update variant</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  

  <h3 class="title_product"><%= @product.title %></h3>
  <div class="product">
    <div class="img_product">
      <%= image_tag("#{@product.image.src()}", :alt => "image", class: "") unless @product.image.blank? %>
    </div>
    <div class="body_product">
      <%= @product.body_html.html_safe %>
    </div>
  </div>
  <div class="list_products_variants">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Region</th>
          <th>Price</th>
          <th>Currency</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @product_variants.each do |product_variant| %>
        <tr class="<%= "product_variant_" + "#{product_variant.id}" %>" >
          <td><%= product_variant.region.nil? ? "Region not assigned" : product_variant.region.name %></td>
          <td><%= product_variant.price.to_f %></td>
          <td><%= product_variant.currency %></td>
          <td>
            <%= link_to 'Edit', '#', class: 'btn btn-success btn-raised btn-xs edit_product_variant', :'data-toggle' => "modal", :'data-target' => ".edit_product_variant_modal", :'data-product-variant-id' => product_variant.id %>
            <%= link_to 'Destroy', '#', class: 'btn btn-danger btn-raised btn-xs destroy_product_variant', :'data-product-variant-id' => product_variant.id %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="add_variants_container">
    <div class="variants">
      <button id="add_variant" class="btn btn-info">Add Variant</button>
    </div>
    <div class="save_variants">
      <button id="save_variants" class="btn btn-success">Save</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Back To All Products", root_url(:protocol => 'https'), :class => 'btn btn-primary' %>
    </div>
  </div>
</div>
